/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn{
    background-color: #b2d0eb;
    width: 20%;
    height: 35px;
    border-radius: 20px;
    cursor:pointer;
}